* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.clock {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock-wrapper {
  height: 600px;
  width: 600px;
  border-radius: 50%;
  color: #333;
  border: 20px solid #333;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.digital-clock {
  position: absolute;
  bottom: 20%;
  padding: 0.5rem 1.5rem;
  border: 4px solid gray;
  border-radius: 15px;
  background-color: white;
  display: flex;
  align-items: center;
}

.digital-clock span {
  font-size: 1.2rem;
  font-weight: bold;
}

.digital-clock .period {
  position: absolute;
  top: 0.3rem;
  right: 0;
  padding: 0.3rem;
  font-size: 10px;
}

.center {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #333;
  z-index: 100;
}

.hand {
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.hand .hh {
  width: 8px;
  height: 150px;
  background-color: #333;
  position: absolute;
  border-radius: 10px;
}

.hand .hm {
  width: 5px;
  height: 180px;
  background-color: #777;
  position: absolute;
  border-radius: 10px;
  z-index: 10;
}

.hand .hs {
  width: 4px;
  height: 220px;
  background-color: orangered;
  position: absolute;
  border-radius: 10px;
  z-index: 20;
}

.number {
  position: absolute;
  text-align: center;
  inset: 30px;
}

.number span {
  display: block;
  font-size: 2rem;
  font-weight: bold;
}

.sec-item,
.hour-item {
  position: absolute;
  inset: 2px;
  text-align: center;
}

.sec-item span,
.hour-item span {
  display: inline-block;
  background-color: #333;
}

.sec-item span {
  height: 10px;
  width: 2px;
}

.hour-item span {
  height: 20px;
  width: 3px;
}
